/* #2D2A3E, #C48EC3, #OAAE4E, #757185, #736BBD, #725956 */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 2rem;
}

.hero-content {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 3rem;
  font-weight: 500;
}

.hero-desc {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero-btn {
  background: linear-gradient(90deg, #0aae4e, #736bbd);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.hero-btn:hover {
  background: inear-gradient(90deg, #736bbd,#0aae4e);
  transform: translateY(-3px) scale(1.05);
}

.hero-btn2 {
  background: #757185;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.hero-btn2:hover {
  transform: translateY(-3px) scale(1.05);
}

.hero-techs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.tech-btn {
  background: #2d2a3e;
  color: #fff;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s;
  min-width: 10px;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-btn:hover {
  background: #757185;
  scale: 1.1;
}

@media (max-width: 600px) {
  .hero-title {
    font-size: 2rem;
  }
  .hero-subtitle {
    font-size: 1.2rem;
  }
  .hero-desc {
    font-size: 1rem;
  }
  .hero-content {
    max-width: 95vw;
  }
  .hero-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.scroll-icon {
  font-size: 2.5rem;
  color: #fff;
  animation: bounce 1.2s infinite;
  cursor: pointer;
  transition: color 0.3s;
}

.scroll-icon:hover {
  color: #c48ec3;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
